.footer {
  background: var(--clr-header);
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin-top: 1em;
  padding: 0.2em 0.4em;

  box-shadow: var(--bs1);
}

.year {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag {
  width: 40px;
  height: 30px;

  background-image: url("../../../../public/imgs/flags/ge.svg");
  background-size: cover;

  border: 1px solid var(--clr-dark);
  border-radius: 0.3em;
  // box-shadow: var(--bs);
  margin: 0 0.2em;
}

.logo {
  margin: 5px;
}
