.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: var(--bs);
  background-color: var(--clr-header);

  margin-bottom: 1em;
  padding: 0.2em 0.4em;
}

ul {
  padding: 0;
  margin: 0;
}

.pages {
  display: flex;
  // gap: 3em;
  flex-direction: row;

  list-style: none;
  font-size: var(--fs-h3);
}

li {
  padding: 0.5em 1.5em;

  &:hover {
    cursor: pointer;
    background-color: var(--clr-light);
    box-shadow: var(--bs);
    border-radius: 1em;
    color: var(--clr-accent);
  }
}

// .toggle {
//   float: right;
// }

@media (max-width: 600px) {
  .header {
    gap: 0.5em;
    align-items: center;
  }

  ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  li {
    padding: 0.1em;
  }

  // .pages {
  //   scale: 1 0;
  // }

  .header,
  .pages {
    flex-direction: column;
  }
}
