.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1em;

  box-shadow: var(--bs);
  background-color: var(--clr-header);

  font-size: var(--fs-h3);
  padding: 0.2em 0.4em;
}

.logo {
  width: 80px;
  height: 80px;
}

ul {
  padding: 0;
  margin: 0;

  font-size: var(--fs-h3);
}

.pages {
  width: fit-content;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  list-style: none;

  gap: 0.5em;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0.3em 0.8em;

  &:hover {
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 1em;
    color: var(--text-color);
    font-weight: bolder;
  }
}

.toggle {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5em;
}

@media (max-width: 1000px) {
  ul {
    font-size: var(--fs-h4);
  }
}

@media (max-width: 850px) {
  ul {
    font-size: var(--fs-body);
  }
  li {
    padding: 0.1em 0.3em;
  }

  .pages {
    gap: 0.2em;
  }
}

@media (max-width: 650px) {
  .header {
    gap: 1em;
    align-items: center;
    padding: 1em 0;
  }

  ul {
    padding: 0 0.3em;
    margin: 0;
    text-align: center;
    background-color: var(--primary);
    border-radius: 10%;
  }

  .header {
    flex-direction: column;
  }

  .pages {
    width: auto;
  }
}

@media (max-width: 400px) {
  .pages {
    flex-direction: column;
  }
}
