<div>
  <section class="title">
    <h1>{{ "home.title" | translate }}</h1>
  </section>

  <section class="rainbow"></section>

  <section class="flex-w">
    <app-info-card
      url="/tictoc"
      title="Tic Toc"
      description="This is a fantastic information card component with awesome animations and modern design."
      icon="imgs/logo.jpg"
      bgColor="var(--primary)"
      textColor="var(--text-color)"
    />

    <app-info-card
      url="/picker"
      title="Cool Feature"
      description="This is a fantastic information card component with awesome animations and modern design."
      icon="imgs/flags/es.svg"
      bgColor="var(--primary)"
      textColor="var(--text-color)"
    />
  </section>
</div>
