<div class="main">
  <h1>{{ "home.title" | translate }}</h1>

  <!-- <div class="card">
    <div class="card-header">
      <h2>Tic Toc</h2>
    </div>
    <div class="card-body">
      <p>Card Body</p>
    </div>
    <div class="card-info">
      <app-go-to-btn [title]="'TicToc'" [url]="'/tictoc'" />
    </div>
  </div> -->

  <app-info-card
    title="Cool Feature"
    description="This is a fantastic information card component with awesome animations and modern design."
    icon="fa fa-solid fa-arrows-to-eye"
    bgColor="#3498db"
    textColor="#ffffff"
  />
</div>
