.language-toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px solid #3f3f3f;
  border-radius: 0.2em;

  gap: 0.1em;

  width: fit-content;

  background-color: var(--clr-accent);

  padding: 0.1em;
  // margin: 1em auto;
}

#language {
  background-color: rgb(239, 251, 247);
}

.flag {
  min-width: 40px;
  height: 30px;
  // border: 1px solid #000000;
  border-radius: 0.15em;
}

select {
  max-width: 100px;

  height: 30px;
}
