// @font-face {
//   font-family: "cardTitle";
//   src: url("../public/fonts/bpg-rioni-vera-light-webfont.ttf");
// }

// @font-face {
//   font-family: "cardText";
//   src: url("../public/fonts/bpg-irubaqidze-webfont.ttf");
// }

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///                                                SCSS RESET                                              ///

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  text-align: center;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

///                                                SCSS RESET                                              ///
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///                                           GLOBAL VARIABLES                                            ///
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

:root {
  --ff-primery: "cardTitle", sans-serif;
  --ff-secondary: "cardText", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  // --clr-light: #fd8787;
  // --clr-dark: #303030;
  // --clr-accent: #16e0bd;

  /* Light theme colors */
  --text-color: #2d2d2d;
  --background: #f8f9fa;
  --primary: #62b9e1;
  --button-bg: rgba(0, 0, 0, 0.05);
  --clr-header: #e0eafc;

  &[data-theme="dark"] {
    // Dark theme
    --text-color: #ffffff;
    --background: #1a1a1a;
    --primary: #b9b9b93e;
    --button-bg: rgba(255, 255, 255, 0.1);
    --clr-header: #6c6e70;
  }

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.2rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --bs1: -0.25em -0.25em 0.75em rgba(0, 0, 0, 0.25),
    -0.125em -0.125em 0.25em rgba(0, 0, 0, 0.15);

  --ts: 2px 2px #ff0000, -2px 2px #2600ff;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///                                           GLOBAL VARIABLES                                            ///
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///                                            CUSTOM CLASSIES                                             ///
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
html {
  scroll-behavior: smooth;
  background-color: var(--clr-dark);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--ff-primery);
  font-size: var(--fs-body);
  line-height: 1.6;
}

// --text-color: #2d2d2d;
//   --background: #f8f9fa;
//   --primary: #4a2e6d;
//   --button-bg: rgba(0, 0, 0, 0.05);

img {
  display: block;
  max-width: 100%;
}

.flex-w {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 150px;
  padding: 0.7em 1em;
  border: 2px solid var(--button-bg);
  border-radius: 0.7em;
  background: var(--button-bg);
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.logo {
  width: 80px;
  height: 80px;
  background-image: url("../public/imgs/logo.jpg");
  background-size: cover;

  border-radius: 1em;
  box-shadow: var(--bs);

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///                                            CUSTOM CLASSIES                                             ///
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
///                                              MEDIA BREAKS                                              ///

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

///                                              MEDIA BREAKS                                              ///
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////
